body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("m6rpRn.jpg");
  height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(70, 71, 81);
  font-family: "Open Sans", sans-serif;
}
.header-left {
  position: relative;
  margin-bottom: 20px;
  margin-top: 20px;
}
.search-input {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  width: 250px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.7);
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.search-input:focus {
  background-color: rgba(255, 255, 255, 1);
}

.material-icons-outlined {
  vertical-align: middle;
  line-height: 1px;
  font-size: 30px;
}

.text-secondary {
  color: rgb(70, 71, 81);
}

.text-blue {
  color: deepskyblue;
}

.background-blue {
  background-color: deepskyblue;
}

.text-red {
  color: darkviolet;
}

.background-red {
  background-color: darkviolet;
}

.text-green {
  color: limegreen;
}

.background-green {
  background-color: limegreen;
}

.text-orange {
  color: deeppink;
}

.background-orange {
  background-color: deeppink;
}

.grid-container {
  display: grid;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar header header header"
    "sidebar main main main";
  height: 100vh;
}

/* ---------- HEADER ---------- */

.header {
  grid-area: header;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: none;
}

/* ---------- SIDEBAR ---------- */

#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: #35a29f;
  color: rgb(255, 255, 255);
  overflow-y: auto;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px 20px 20px;
  margin-bottom: 30px;
}

.sidebar-title > span {
  display: none;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 30px;
  font-weight: 700;
}

.sidebar-brand > .material-icons-outlined {
  font-size: 50px;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
  color: white;
}

.sidebar-list-item {
  padding: 20px 20px 20px 20px;
  font-size: 18px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: white;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
}

/* ---------- MAIN ---------- */

.main-container {
  grid-area: main;
  overflow-y: auto;
  padding: 20px 20px;
}

.main-title {
  display: flex;
  justify-content: space-between;
}

.main-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
  width: 260px;
  height: 170px;
  opacity: 0.75;

  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 10px -4px rgba(0, 0, 0, 0.3);
}
.card a {
  color: white;
}
.card:hover.card-inner {
  opacity: 0;
}
.card:hover h1 {
  opacity: 1;
}
.card h1 {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.card:hover h2 {
  opacity: 1;
}
.card h2 {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.card:first-child {
  background-color: darkviolet;
}

.card:nth-child(2) {
  background-color: limegreen;
}

.card:nth-child(3) {
  background-color: deeppink;
}

.card:nth-child(4) {
  background-color: deepskyblue;
}
.card:nth-child(5) {
  background-color: darkviolet;
}

.card:nth-child(6) {
  background-color: limegreen;
}

.card:nth-child(7) {
  background-color: deeppink;
}

.card:nth-child(8) {
  background-color: deepskyblue;
}
.card:nth-child(9) {
  background-color: darkviolet;
}

.card:nth-child(10) {
  background-color: limegreen;
}

.card:nth-child(11) {
  background-color: deeppink;
}

.card:nth-child(12) {
  background-color: deepskyblue;
}
.card:nth-child(13) {
  background-color: darkviolet;
}

.card:nth-child(14) {
  background-color: limegreen;
}

.card:nth-child(15) {
  background-color: deeppink;
}

.card:nth-child(16) {
  background-color: deepskyblue;
}

.card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-inner > span {
  font-size: 50px;
}

/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */
@media screen and (max-width: 992px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "header"
      "main";
  }

  #sidebar {
    display: none;
  }

  .menu-icon {
    display: inline;
  }

  .sidebar-title > span {
    display: inline;
  }
}

/* Small <= 768px */
@media screen and (max-width: 768px) {
  .main-cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
}

/* Extra Small <= 576px */
@media screen and (max-width: 576px) {
  .header-left {
    display: none;
  }
}
